h1 {
    text-align: center;
    text-decoration: underline;
}

#container {
    width: 80%;
    height: 300px;
    margin: 10px auto;
    border: 1px solid black;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

div {
    height: 50px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}