#face {
    height: 800px;
    width: 800px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#leye {
    height: 10%;
    width: 10%;
    background-color: black;
    position: absolute ;
    top: 225px;
    left: 200px;
    border-radius: 50%;
}

#reye {
    height: 10%;
    width: 10%;
    background-color: black;
    position: absolute ;
    top: 235px;
    left: 520px;
    border-radius: 50%;
}

#mouth {
    height: 200px;
    width:  400px;
    background-color: red;
    position: absolute;
    top: 500px;
    left: 200px;
    border-radius: 0 0 200px 200px;
}