#container {
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

div div{
    background-color: pink;
}

#header {
    grid-column: 1/ span 12
}

#sidebar {
    grid-row: 2/span 10;
    grid-column: 1/ span 3;
}

#navigation {
    grid-row: 2/ span 1;
    grid-column: 4/ span 6;
}

#ads {
    grid-row: 2/ span 10;
    grid-column: 10/ span 3;
}

#main {
    grid-row: 3/span 9;
    grid-column: 4/span 6;
}

#footer {
    grid-row: 12/span 1;
    grid-column: 1/ span 12;
}

