h2 {
    color: orange;
}

span {
    color: burlywood;
}

.card {
    /* height: 100px; */
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
}

#pets {
    justify-content: space-evenly;
    display: flex;
}

h4 {
    color: skyblue;
}

@media (max-width: 375px) {
    #pets{
        flex-wrap: wrap;
    }
}