h2 {
    color: orange;
}

span {
    color: burlywood;
}

.card {
    /* height: 100px; */
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

img {
    width: 500px;
    border-radius: 10px;
}

#pets {
    justify-content: center;
    display: flex;
}